@charset="utf-8";

body {
  font-family: "Consolas";
  font-size: 85%;
  -webkit-font-smoothing: antialiased;
  background: rgb(245, 244, 244);
}

p {
  margin: 0;
}

body {
  margin: 0;
}

.button {
  border-radius: 2px;
  color: white;
  background: gray;
  padding: 0.25em 0.5em;
  font-size: 1.2em;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

canvas#canvas {
  width: 960px;
  height: 640px;
  position: absolute;
  z-index: -100;
  /* top: 0; */
}

div#machine {
}

div#toolbar {
    clear: both;
    overflow: hidden;
    padding: 1em;
    background: #E4E4E4;
}